.bundle {
	height: 635px;
	position: relative;
	background: white;

	&__phones {
	    position: absolute;
	    top: 0;
	}

	&__heading {
		font-size: 60px;
		line-height: 57px;
		margin-top: 120px;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
	}

	&__bundle {
		text-decoration: underline;
	}

	a {
		font-size: 24px;
		line-height: 22px;
		color: $red;
	}

	&__chevron {
		height: 23px;
		margin-left: 15px;
	}

}